@page "/report/payslips"
@using RetailShopManagement.WebApp.Services.AppServices.Reports

@attribute [StreamRendering]

<PageTitle>Payslip Summary</PageTitle>

<h3 class="subtitle"> Payslip Summary</h3>

<div class="card shadow-sm mb-3">
    <div class="card-body">
        <div class="row align-items-end">
            
            <div class="col-md-3">
                <label class="form-label">Payment Status</label>
                <select class="form-control" @bind="selectedStatus">
                    @foreach (var category in invoiceStatusFields)
                    {
                        <option value="@category.Value">
                            @category.Text
                        </option>
                    }
                </select>
            </div>

            <div class="col-md-4">

                <DateRangePicker StartDate="StartDate"
                                 EndDate="EndDate"
                                 OnDateRangeChanged="OnDateRangeChangeEventHandler" />
            </div>
            
            <div class="col-md-3">
                <label class="form-label">Report Timeline</label>
                <InputSelect class="form-control" @bind-Value="selectedTimeLine" @bind-Value:after="OnReportTimelineChange">
                    @foreach (var category in ReportTimelineFields)
                    {
                        <option value="@category.Value">
                            @category.Text
                        </option>
                    }
                </InputSelect>
            </div>

            <div class="col-md-2">
                <label class="form-label">Invoice Type</label>
                <InputSelect class="form-control" @bind-Value="selectedInvoiceType" @bind-Value:after="OnInvoiceTypeChange">
                    @foreach (var category in invoiceTypeFields)
                    {
                        <option value="@category.Value">
                            @category.Text
                        </option>
                    }
                </InputSelect>
            </div>

            <div class="col-md-2">
                <label class="form-label"></label>
                <button class="btn btn-secondary w-100"
                        @onclick="Filter">
                    <i class="fa-solid fa-magnifying-glass me-2"></i>
                    Filter
                </button>
            </div>

        </div>
    </div>
</div>

<div class="table-responsive table-overflow-y">
    @if (!paySlipList.Any())
    {
        <p>
            <em>No item found...</em>
        </p>
    }
    else
    {
        <table class="table table-borderless table-striped table-hover">
            <thead>
                <tr class="no-wrap-head">
                    <th @onclick="@(() => OrderRecords("InvoiceNumber"))" style="cursor: pointer;">
                        Invoice Number
                        <i class="fa-solid fa-sort fa-sm"></i>
                    </th>
                    <th> Creditor Name</th>
                    <th @onclick="@(() => OrderRecords("PaymentDate"))" style="cursor: pointer;">
                        Payment Date
                        <i class="fa-solid fa-sort fa-sm"></i>
                    </th>
                    <th @onclick="@(() => OrderRecords("AmountPaid"))" style="cursor: pointer;">
                        Amount Paid
                        <i class="fa-solid fa-sort fa-sm"></i>
                    </th>
                    <th> Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in paySlipList)
                {
                    <tr>
                        <td>@item.InvoiceNumber</td>
                        <td>@item.CreditorName</td>
                        <td>@item.PaymentDate</td>
                        <td>@item.AmountPaid</td>
                        <td>@item.Remarks</td>
                    </tr>
                }
            </tbody>
            <tfoot class="sticky-footer">
                <tr class="table-active fw-bold">
                    <td colspan="3">Grand Total:</td>
                    <td>@paySlipList.Sum(x => x.AmountPaid)</td>
                    <td> </td>
                </tr>
            </tfoot>
        </table>
    }

</div>

<hr />
<p class="list-counter-margin">
    <em>
        <small>
            Total Records = @TotalRecords
        </small>
    </em>
</p>

@code {
    private IList<PaySlipDto> paySlipList = new List<PaySlipDto>();

    private bool IsAscending { get; set; } = true;
    private bool IsPurchaseInvoice { get; set; } = false;

    private string selectedTimeLine { get; set; }
    private string selectedStatus { get; set; }
    private string selectedInvoiceType { get; set; }

    private IList<DropDownField> invoiceStatusFields { get; set; } = PaymentStatus.GetDropdown();
    private IList<DropDownField> invoiceTypeFields { get; set; } = InvoiceTypeConst.DropDownFields;
    private IList<DropDownField> ReportTimelineFields { get; set; } = ReportTypeConst.GetTimelineFields();

    private DateTime? StartDate { get; set; } = DateTime.Now.AddDays(-14);
    private DateTime? EndDate { get; set; } = DateTime.Now;

    private int TotalRecords { get; set; }

    [Inject] private IReportService ReportService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        StateHasChanged();
    }

    private async Task LoadData()
    {
        try
        {
            LoadingService.Show();

            var response = await ReportService.GetPaySlipSummaryAsync(isPurchase: IsPurchaseInvoice, paymentStatus: selectedStatus, fromDate: StartDate, toDate: EndDate);
            if (!response.IsSuccess)
            {
                ToastService.ShowError(response.Message);
                return;
            }

            ToastService.ShowSuccess(response.Message);
            paySlipList = response.Data;
            TotalRecords = paySlipList.Count();

            StateHasChanged();
        }
        finally
        {
            LoadingService.Hide();
        }
    }

    private async Task Filter()
    {
        await LoadData();

    }

    private async Task OnDateRangeChangeEventHandler(DateRangePicker.DateRange dateRange)
    {
        selectedTimeLine = string.Empty;
        StartDate = dateRange.StartDate;
        EndDate = dateRange.EndDate;

        await LoadData();
    }

    private void OnReportTimelineChange()
    {
        var today = DateTime.Now.Date;

        if (selectedTimeLine == ReportTypeConst.Daily)
        {
            StartDate = today;
            EndDate = today.AddDays(1);
        }
        else if (selectedTimeLine == ReportTypeConst.Weekly)
        {
            StartDate = today.AddDays(-7);
            EndDate = today.AddDays(1);
        }
        else if (selectedTimeLine == ReportTypeConst.Monthly)
        {
            StartDate = today.AddDays(-30);
            EndDate = today.AddDays(1);
        }
    }

    private async Task OnInvoiceTypeChange()
    {
        IsPurchaseInvoice = selectedInvoiceType != InvoiceTypeConst.Sale;
        await LoadData();
    }
    
    private void OrderRecords(string? orderParm = null)
    {
        paySlipList = orderParm switch
        {
            "InvoiceNumber" => IsAscending
                ? paySlipList.OrderBy(x => x.InvoiceNumber).ToList()
                : paySlipList.OrderByDescending(x => x.InvoiceNumber).ToList(),
            "PaymentDate" => IsAscending
                ? paySlipList.OrderBy(x => x.PaymentDate).ToList()
                : paySlipList.OrderByDescending(x => x.PaymentDate).ToList(),
            "AmountPaid" => IsAscending
                ? paySlipList.OrderBy(x => x.AmountPaid).ToList()
                : paySlipList.OrderByDescending(x => x.AmountPaid).ToList(),
            _ => paySlipList
        };

        IsAscending = !IsAscending;

        StateHasChanged();
    }
}