@page "/bill-generate"
@using RetailShopManagement.Application.Validators
@using RetailShopManagement.Domain.Constants
@using RetailShopManagement.Domain.Extensions
@using RetailShopManagement.WebApp.Services.AppServices.Invoices

<PageTitle>Product Sale</PageTitle>

<h3 class="subtitle">Sell Product: Generate Invoice</h3>

<div class="px-3 pb-3">

    <div class="row">

        <div class="form-group-x col-6">
            <label class="sn-required-field">Creditor</label>
            <InputSelect class="form-control" @bind-Value="invoiceForm.CreditorId">

                @foreach (var creditor in CreditorDropDownFields)
                {
                    <option value="@creditor.Value">
                        @creditor.Text
                    </option>
                }
            </InputSelect>
        </div>

        <div class="form-group-x col-6">
            <label class="sn-required-field">Invoice Date</label>
            <InputDate class="form-control"
                       @bind-Value="invoiceForm.InvoiceDate" />
        </div>
    </div>

    <hr />

    <!-- Columns Header -->
    <div class="row fw-bold">
        <div class="form-group-x col-5">
            <label class="sn-required-field">Description</label>
        </div>
        <div class="form-group-x col-2">
            <label class="sn-required-field">Qty</label>
        </div>
        <div class="form-group-x col-2">
            <label class="sn-required-field">Rate</label>
        </div>
        <div class="form-group-x col-2">
            <label class="sn-required-field">Amount</label>
        </div>
        <div class="form-group-x col-1">
        </div>
    </div>

    <!-- Rows Invoice Items -->
    @for (int i = 0; i < Count; i++)
    {
        var localCounter = i;

        <div class="row">

            <div class="form-group-x col-5">
                <div class="row">
                    <div class="form-group-x col-6">
                        <InputSelect class="form-control"
                                     @bind-Value="invoiceForm.InvoiceItems[localCounter].ProductId"
                                     @bind-Value:after="@(() => OnProductChange(localCounter))">

                            @foreach (var unit in ProductListFields)
                            {
                                <option value="@unit.Value">@unit.Text</option>
                            }
                        </InputSelect>

                    </div>
                    <div class="form-group-x col-6">
                        <InputSelect class="form-control" @bind-Value="invoiceForm.InvoiceItems[localCounter].Unit">
                            @foreach (var unit in UnitsFields)
                            {
                                <option value="@unit.Value">@unit.Text</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>

            <div class="form-group-x col-2">
                <InputNumber class="form-control" @bind-Value="invoiceForm.InvoiceItems[localCounter].Quantity"
                             @bind-Value:after="@(() => OnQuantityUnitPriceChanged(localCounter))" />
            </div>

            <div class="form-group-x col-2">
                <InputNumber class="form-control" @bind-Value="invoiceForm.InvoiceItems[localCounter].UnitPrice"
                             @bind-Value:after="@(() => OnQuantityUnitPriceChanged(localCounter))" />
            </div>

            <div class="form-group-x col-2">
                <InputNumber class="form-control"
                             @bind-Value="invoiceForm.InvoiceItems[localCounter].Subtotal"
                             @bind-Value:after="OnSubTotalChange" />
            </div>

            <div class="col-1">
                @if (localCounter == Count - 1)
                {
                    @if (Count > 1)
                    {
                        <button type="button" class="btn btn-warning btn-sm mt-1" @onclick="() => RemoveRow(localCounter)">
                            <i class="fas fa-minus"></i>
                        </button>
                    }

                    <button type="button" class="btn btn-warning btn-sm mx-1 mt-1" @onclick="AddNewRow">
                        <i class="fas fa-plus"></i>
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-warning btn-sm m-1" @onclick="() => RemoveRow(localCounter)">
                        <i class="fas fa-minus"></i>
                    </button>
                }
            </div>
        </div>
    }

    <hr />

    <!-- Total Calculation -->
    <!-- Invoice Sub-Total Calculation -->
    <div class="row">
        <div class="form-group-x col-3">
        </div>
        <div class="form-group-x col-6">
            <label class="sn-required-field">Sub Total</label>
        </div>

        <div class="form-group-x col-2">
            <InputNumber class="form-control" @bind-Value="invoiceForm.SubTotal"
                         @bind-Value:after="CalculateGrandTotalAmount" readonly />
        </div>

    </div>

    <!-- Invoice Discount Calculation -->
    <div class="row">
        <div class="form-group-x col-3">
        </div>
        <div class="form-group-x col-3">
            <label class="sn-required-field">Discount</label>
        </div>

        <div class="form-group-x col-1 justify-content-end">
            <span>Apply (%)?</span>  <br />
            <InputCheckbox @bind-Value="invoiceForm.IsDiscountApplied"
                           @bind-Value:after="CalculateDiscountAmount" style="height: 19px; width: 20px;" />
        </div>
        <div class="form-group-x col-2">
            <InputNumber class="form-control" @bind-Value="invoiceForm.DiscountPercent"
                         @bind-Value:after="CalculateDiscountAmount" disabled="@(!invoiceForm.IsDiscountApplied)" />
        </div>

        <div class="form-group-x col-2">
            <InputNumber class="form-control" @bind-Value="invoiceForm.DiscountAmount"
                         @bind-Value:after="CalculateDiscountAmount" readonly="@(invoiceForm.IsDiscountApplied)" />
        </div>

        <div class="form-group-x col-1">
            <button type="button" class="btn btn-warning" @onclick="CalculateDiscountAmount">
                <i class="fa-solid fa-calculator fa-2xs"></i> Calc
            </button>
        </div>
    </div>

    <!-- Invoice Tax Calculation -->
    <div class="row">
        <div class="form-group-x col-3">
        </div>
        <div class="form-group-x col-3">
            <label class="sn-required-field">Tax (13% VAT)</label>
        </div>

        <div class="form-group-x col-3">
            <span>Is Tax?</span> <br />
            <InputCheckbox @bind-Value="invoiceForm.IsTaxApplicable"
                           @bind-Value:after="CalculateTaxAmount" style="height: 19px; width: 20px;" />
        </div>

        <div class="form-group-x col-2">
            <InputNumber class="form-control" @bind-Value="invoiceForm.TaxAmount"
                         @bind-Value:after="CalculateTaxAmount" readonly />
        </div>

        <div class="form-group-x col-1">
            <button type="button" class="btn btn-warning" @onclick="CalculateTaxAmount">
                <i class="fa-solid fa-calculator fa-2xs"></i> Calc
            </button>
        </div>

    </div>


    <!-- Invoice Total Amount Calculation -->
    <div class="row">
        <div class="form-group-x col-3">
        </div>
        <div class="form-group-x col-6">
            <label class="sn-required-field">Total Amount</label>
        </div>
        <div class="form-group-x col-2">
            <InputNumber class="form-control" @bind-Value="invoiceForm.TotalAmount" @bind-Value:after="CalculateGrandTotalAmount" readonly />
        </div>

        <div class="form-group-x col-1">
            <button type="button" class="btn btn-warning" @onclick="CalculateGrandTotalAmount">
                <i class="fa-solid fa-calculator fa-2xs"></i> Calc
            </button>
        </div>
    </div>

    <!-- Invoice Paid Amount Calculation -->
    <div class="row">
        <div class="form-group-x col-3">
        </div>
        <div class="form-group-x col-6">
            <label class="sn-required-field">Paid Amount</label>
        </div>
        <div class="form-group-x col-2">
            <InputNumber class="form-control" @bind-Value="invoiceForm.PaidAmount"
                         @bind-Value:after="CalculateBalanceAmount" />
        </div>

    </div>

    <!-- Invoice BalanceAmount(Remaining) Calculation -->
    <div class="row mb-3">
        <div class="form-group-x col-3">
        </div>
        <div class="form-group-x col-6">
            <label class="sn-required-field">Balance Amount</label>
        </div>
        <div class="form-group-x col-2">
            <InputNumber class="form-control" @bind-Value="invoiceForm.BalanceAmount" readonly />
        </div>

    </div>


    <!-- Submit -->
    <div class="row justify-content-end">
        <div class="col-auto">
            <button class="btn btn-success me-2" @onclick="Save">
                <i class="fas fa-check"></i>
                Generate Invoice
            </button>
            <button type="button" class="btn btn-dark" @onclick="@(() => NavigationManager.NavigateTo("/creditors"))">
                <i class="fas fa-times"></i> Cancel
            </button>
        </div>
    </div>
</div>

@code {
    private InvoicesDto invoiceForm = new();
    private IList<NullableGuidDropDownField> CreditorDropDownFields { get; set; } = new List<NullableGuidDropDownField>();

    private IList<DropDownField> UnitsFields { get; set; } = UnitsConst.BasicUnitsFields;

    private IList<GuidDropDownField> ProductListFields { get; set; } = new List<GuidDropDownField>();
    // private IList<ProductDto> Products { get; set; } = new List<ProductDto>();

    private Dictionary<Guid, ProductDto> ProductsDictionary = new();

    private int Count;


    [Inject] private IInvoiceService InvoiceService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Initialize();
        StateHasChanged();
    }

    private async Task Initialize()
    {
        CreditorDropDownFields = await CreditorsFieldList;

        (ProductListFields, ProductsDictionary) = await GetProductsList();

        // Initialize with one empty row
        invoiceForm.InvoiceItems = new List<ProductSalesDto>()
        {
            new(),
        };

        Count++;

    }

    private async Task Save()
    {
        if (!ValidateFormOnSave()) return;

        var response = await InvoiceService.CreateInvoiceAsync(invoiceForm);

        if (!response.IsSuccess)
        {
            ToastService.ShowError(response.Message);
            return;
        }

        ToastService.ShowSuccess(response.Message, 3000);

        var invoiceData = response.Data;
        invoiceForm.Id = invoiceData.Id;
        invoiceForm.InvoiceNumber = invoiceData.InvoiceNumber;

        NavigationManager.NavigateTo($"/invoice/save-pdf/{invoiceData.Id}");
    }

    #region Row management
    private void AddNewRow()
    {
        if (!Validate(invoiceForm.InvoiceItems[Count - 1])) return;
        Count += 1;
        invoiceForm.InvoiceItems.Add(new ProductSalesDto());

        StateHasChanged();
    }

    private async Task RemoveRow(int index)
    {
        var isConfirmed = await JsModalService.ConfirmAsync("Are you sure you want to delete this row?");

        if (!isConfirmed) return;

        RemoveConfirmed(index);
    }

    private void RemoveConfirmed(int index)
    {
        invoiceForm.InvoiceItems.RemoveAt(index);
        Count--;

        StateHasChanged();
    }

    #endregion

    private bool Validate(ProductSalesDto productSales)
    {
        var validator = new ProductSalesValidator();
        var validationResult = validator.Validate(productSales);

        if (!validationResult.IsValid)
        {
            var errors = string.Join(Environment.NewLine, validationResult.Errors.Select(x => x));

            ToastService.ShowError(errors);
            return false;
        }

        return true;
    }

    private bool ValidateFormOnSave()
    {

        if (invoiceForm.InvoiceDate == DateTime.MinValue)
        {
            ToastService.ShowInfo("Please enter Invoice Date.");
            return false;
        }

        if (!Validate(invoiceForm.InvoiceItems[Count - 1])) return false;

        return true;
    }


    #region Price and Total Calculation

    private void OnProductChange(int localCounter)
    {
        var productId = invoiceForm.InvoiceItems[localCounter].ProductId;

        if (productId.Empty()) return;

        var selectedProduct = ProductsDictionary[productId];

        invoiceForm.InvoiceItems[localCounter].ProductName = selectedProduct.Name;
        invoiceForm.InvoiceItems[localCounter].Unit = selectedProduct.Unit;
        invoiceForm.InvoiceItems[localCounter].UnitPrice = selectedProduct.Price;

        OnQuantityUnitPriceChanged(localCounter);

        StateHasChanged();
    }

    private void OnQuantityUnitPriceChanged(int localCounter)
    {
        var currentItem = invoiceForm.InvoiceItems[localCounter];
        invoiceForm.InvoiceItems[localCounter].Subtotal = currentItem.Quantity * currentItem.UnitPrice;

        UpdateInvoiceSubTotal();

        StateHasChanged();
    }

    private void OnSubTotalChange()
    {
        UpdateInvoiceSubTotal();
    }

    private void UpdateInvoiceSubTotal()
    {
        invoiceForm.SubTotal = invoiceForm.InvoiceItems.Sum(x => x.Subtotal);

        CalculateDiscountAmount();
        // CalculateTaxAmount();
        // CalculateGrandTotalAmount();

        StateHasChanged();
    }

    private void CalculateDiscountAmount()
    {
        if (!invoiceForm.IsDiscountApplied)
        {
            invoiceForm.DiscountPercent = 0;
        }
        else
        {
            invoiceForm.DiscountAmount = invoiceForm.SubTotal * invoiceForm.DiscountPercent / 100.00m;
        }

        CalculateTaxAmount();
        StateHasChanged();
    }

    private void CalculateTaxAmount()
    {
        invoiceForm.TaxRate = invoiceForm.IsTaxApplicable ? 13.00m : 0; //13% VAT

        invoiceForm.TaxAmount = (invoiceForm.SubTotal - invoiceForm.DiscountAmount) * invoiceForm.TaxRate / 100.00m;

        CalculateGrandTotalAmount();
        StateHasChanged();
    }

    private void CalculateGrandTotalAmount()
    {
        invoiceForm.TotalAmount = invoiceForm.SubTotal + invoiceForm.TaxAmount - invoiceForm.DiscountAmount;

        CalculateBalanceAmount();

        StateHasChanged();
    }

    private void CalculateBalanceAmount()
    {
        invoiceForm.BalanceAmount = invoiceForm.TotalAmount - invoiceForm.PaidAmount;
        StateHasChanged();
    }

    #endregion
}
