@page "/categories" 
 
@attribute [StreamRendering]

<PageTitle>Categories</PageTitle>

<div class="card shadow-sm mb-3">
    <div class="card-body">
        <div class="row align-items-end">

            <div class="col-md-12">
                <label class="form-label"></label>
                <button class="btn btn-success"
                        @onclick="CreateNewCategory">
                    <i class="fa-solid fa-plus me-2"></i>
                    Create New
                </button>
            </div>

        </div>
    </div>
</div>

<div class="table-responsive table-overflow-y">
    @if (!categoryList.Any())
    {
        <p>
            <em>No item found...</em>
        </p>
    }
    else
    {
        <table class="table table-borderless table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>CreatedBy</th>
                <th>CreatedOn</th>
                <th>LastModifiedOn</th>
                <th>LastModifiedBy</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in categoryList)
            {
                <tr @onclick="() => SelectProduct(item)">
                    @* <tr> *@
                    <td>@item.Name</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.LastModifiedOn</td>
                    <td>@item.LastModifiedOn</td>
                    <td>
                        <button class="btn btn-primary m-1" @onclick="() => Edit(item)"
                                @onclick:stopPropagation="true">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Edit
                        </button>

                        <button class="btn btn-danger m-1" @onclick="() => ShowCategoryDetails(item)"
                                @onclick:stopPropagation="true">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }


</div>

<p class=" my-1">
    <em>
        <small>
            Total Records = @TotalRecords
        </small>
    </em>
</p>

@code {
    private List<CategoryDto> categoryList = new List<CategoryDto>();
    private CategoryDto? SelectedCategory { get; set; }
    private DateTime? StartDate { get; set; } = DateTime.Now.AddDays(-14);
    private DateTime? EndDate { get; set; } = DateTime.Now;
    private int TotalRecords { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // if(!IsAdmin())
        // {
        //     NavigationManager.NavigateTo("/access-denied");
        //     return;
        // }
        await LoadCategories();
        StateHasChanged();
    }


    private async Task LoadCategories()
    {

        var response = await CategoryService.GetAllCategories();
        if (!response.IsSuccess)
        {
            ToastService.ShowError(response.Message);
            return;
        }

        ToastService.ShowSuccess(response.Message);
        categoryList = response.Data.ToList();
        TotalRecords = categoryList.Count();

        StateHasChanged();
    }
     
    private void SelectProduct(CategoryDto? selectedCategory)
    {
        // Console.WriteLine("row selected!");
        if (selectedCategory is null) return;
        SelectedCategory = selectedCategory;
        StateHasChanged();
    }

    private async Task ShowCategoryDetails(CategoryDto? selectedCategory)
    {
        SelectedCategory = selectedCategory;

        if (SelectedCategory is null)
        {
            await Javascript.InvokeVoidAsync(
                "alert",
                "Please select item."
            );
            return;
        }

        var alertMsg = $"CategoryDto: {SelectedCategory.Name} - ${SelectedCategory.CreatedOn} - {SelectedCategory.CreatedBy}";

        await Javascript.InvokeVoidAsync(
            "alert",
            alertMsg);
    }

    private async Task Filter()
    {
        await LoadCategories();

    }

    private void CreateNewCategory()
    {
        NavigationManager.NavigateTo("/category/create");
    }

    private void Edit(CategoryDto? selectedCategory)
    {
        if (selectedCategory is null) return;
        NavigationManager.NavigateTo($"/category/edit/{selectedCategory.Id}");
    }
}