@page "/invoices/creditor/{CreditorId:guid}"
@using RetailShopManagement.Domain.Constants
@using RetailShopManagement.WebApp.Components.Pages.Features.Invoices

@attribute [StreamRendering]

<PageTitle>Creditor Invoices</PageTitle>

@if (invoicesList.Any())
{
    <h3 class="subtitle">
        Invoices For
        <span class="fw-bold" style="border-bottom: 1px dashed #000;">
            @CreditorName
        </span>
    </h3>
     
}
<div class="card shadow-sm mb-3">
    <div class="card-body">
        <div class="row align-items-end">

            <!-- LEFT HALF (InvoiceStatus + Filter) -->
            <div class="col-md-8">
                <div class="row align-items-end g-2">

                    <div class="col-md-4">
                        <label class="form-label">Payment Status</label>
                        <select class="form-select" @bind="selectedStatus">
                            @foreach (var category in invoiceStatusFields)
                            {
                                <option value="@category.Value">
                                    @category.Text
                                </option>
                            }
                        </select>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-secondary w-100"
                                @onclick="Filter">
                            <i class="fa-solid fa-magnifying-glass me-2"></i>
                            Filter
                        </button>
                    </div>

                </div>
            </div>
             

        </div>
    </div>
</div>

<div class="table-responsive table-overflow-y">
    @if (!invoicesList.Any())
    {
        <p>
            <em>No item found...</em>
        </p>
    }
    else
    {
        <table class="table table-borderless table-striped table-hover">
            <thead>
                <tr class="no-wrap-head">
                    <th>Invoice No.</th>
                    <th>Invoice Date</th>
                    <th>CreditorName</th>
                    <th>TaxAmount</th>
                    <th>DiscountAmount</th>
                    <th>SubTotal </th>
                    <th>TotalAmount</th>
                    <th>PaidAmount</th>
                    <th>BalanceAmount</th>
                    <th>Status</th>
                    <th>Actions</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in invoicesList)
                {
                    <tr @onclick="() => SelectInvoice(item)">
                        <td class="cell-no-wrap">@item.InvoiceNumber</td>
                        <td>@item.InvoiceDate.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@item.CreditorName</td>
                        <td>@item.TaxAmount</td>
                        <td>@item.DiscountAmount</td>
                        <td>@item.SubTotal</td>
                        <td>@item.TotalAmount</td>
                        <td>@item.PaidAmount</td>
                        <td>@item.BalanceAmount</td>
                        <td class="cell-no-wrap">@item.Status</td>
                        <td class="cell-no-wrap">
                            
                            @if (item.IsPdfGenerated)
                            {
                                <button class="btn btn-danger btn-sm m-1" @onclick="() => ShowPdf(item)"
                                        @onclick:stopPropagation="true" title="Show Pdf">
                                    <i class="fa-regular fa-file-pdf fa-lg"></i>
                                </button>
                            }
                            else
                            {
                                
                                <button class="btn btn-warning btn-sm m-1" @onclick="() => ShowPdfDialog(item)"
                                        @onclick:stopPropagation="true" title="Show Pdf">
                                    <i class="fa-solid fa-file-circle-plus fa-lg"></i>
                                </button>
@* 
                                <a class="btn btn-warning btn-sm"
                                       href="/invoice/save-pdf/@item.Id"
                                       target="_blank" title="Generate Invoice Pdf"
                                       @onclick:stopPropagation="true">
                                    <i class="fa-solid fa-file-circle-plus fa-lg"></i>
                                </a> *@
                            }

                        </td>
                        <td>@item.Remarks</td>

                    </tr>
                }
            </tbody>
        </table>
    }


</div>

<hr />
<p class="list-counter-margin">
    <em>
        <small>
            Total Records = @TotalRecords
        </small>
    </em>
</p>

<ShowInvoiceDialog @ref="refShowInvoice" OnSubmitCallback="SubmitCallbackHandler" />

@code {
    [Parameter] public Guid CreditorId { get; set; }
    private List<InvoicesDto> invoicesList = new List<InvoicesDto>();
    private InvoicesDto? SelectedInvoice { get; set; }
    private string selectedStatus { get; set; }
    private IList<DropDownField> invoiceStatusFields { get; set; } = PaymentStatus.GetDropdown();
    private DateTime? StartDate { get; set; } = DateTime.Now.AddDays(-14);
    private DateTime? EndDate { get; set; } = DateTime.Now;
    private int TotalRecords { get; set; }
    private string CreditorName { get; set; }
    private ShowInvoiceDialog refShowInvoice;

    [Inject] private IInvoiceService InvoiceService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        StateHasChanged();
    }

    private async Task LoadData()
    {
        try
        {
            LoadingService.Show();
            
            var response = await InvoiceService.GetInvoicesListAsync(status: selectedStatus, creditorId: CreditorId);
            if (!response.IsSuccess)
            {
                ToastService.ShowError(response.Message);
                return;
            }

            ToastService.ShowSuccess(response.Message);
            invoicesList = response.Data.ToList();
            CreditorName = invoicesList.First().CreditorName;

            TotalRecords = invoicesList.Count();

            StateHasChanged();
        }
        finally
        {
            LoadingService.Hide();
        }
    }

    private void SelectInvoice(InvoicesDto? selectedInvoice)
    {
        // Console.WriteLine("row selected!");
        if (selectedInvoice is null) return;
        SelectedInvoice = selectedInvoice;
        StateHasChanged();
    }
     
    private async Task Filter()
    {
        await LoadData();

    }

    private void ShowPdf(InvoicesDto? selectedInvoice)
    {
        if (selectedInvoice is null) return;
        NavigationManager.NavigateTo($"/invoice/view-pdf/{selectedInvoice.Id}");
    }

    private void ShowPdfDialog(InvoicesDto? selectedInvoice)
    {
        if (selectedInvoice is null) return;
        
        refShowInvoice.ShowDialog(selectedInvoice);
    }
    
    private async Task SubmitCallbackHandler(bool isActionSubmit)
    {
        if (isActionSubmit)
        {
            await LoadData();
        }
    }

}