@page "/products"
@* @rendermode InteractiveServer*@

@inject IProductService ProductService

@attribute [StreamRendering]

<PageTitle>Products</PageTitle>

<h3>Products</h3>
@if (!productList.Any())
{
    <p>
        <em>No item found...</em>
    </p>
}
else
{
    <table class="table table-borderless table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in productList)
            {
                <tr @onclick="() => SelectProduct(item)">
                    @* <tr> *@
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Unit</td>
                    <td>@item.CategoryName</td>
                    <td>
                        <button class="btn btn-info" @onclick="() => ShowProduct(item)"
                                @onclick:stopPropagation="true">
                            <i class="fa-solid fa-info"></i>
                            Details
                        </button>

                        <button class="btn btn-info mx-1" @onclick="() => ShowProduct(item)"
                                @onclick:stopPropagation="true">
                            <i class="fa-solid fa-trash-can"></i>
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ProductDto> productList = new List<ProductDto>();
    private ProductDto? SelectedProduct { get; set; }
    private IList<IntDropDownField> categoryTypes { get; set; } = new List<IntDropDownField>();

    protected override async Task OnInitializedAsync()
    {
        categoryTypes = await CategoryTypes;
        await LoadProducts();
        StateHasChanged();
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {

    //     }
    // }

    private async Task LoadProducts()
    {
        var response = await ProductService.GetAllProductsAsync();
        if (!response.IsSuccess)
        {
            return;
        }
        productList = response.Data.ToList();

        StateHasChanged();
    }

    private void SelectProduct(ProductDto? selectedProduct)
    {
        // Console.WriteLine("row selected!");
        if (selectedProduct is null) return;
        SelectedProduct = selectedProduct;
        StateHasChanged();
    }

    private async Task ShowProduct(ProductDto? selectedProduct)
    {
        // Console.WriteLine("row clicked!");

        SelectedProduct = selectedProduct;

        if (SelectedProduct is null)
        {
            await Javascript.InvokeVoidAsync(
                "alert",
                "Please select item."
            );
            return;
        }

        var alertMsg = $"ProductDto: {SelectedProduct.Name} - ${SelectedProduct.Price} - {SelectedProduct.CategoryName}";

        await Javascript.InvokeVoidAsync(
            "alert",
            alertMsg);
    }
}