@page "/products"
@* @rendermode InteractiveServer*@

@inject IProductService ProductService

@attribute [StreamRendering]

<PageTitle>Products</PageTitle>

<div class="card shadow-sm mb-3">
    <div class="card-body">
        <div class="row align-items-end">


            <!-- LEFT HALF (Category + Filter) -->
            <div class="col-md-8">
                <div class="row align-items-end g-2">

                    <div class="col-md-4">
                        <label class="form-label">Category</label>
                        <select class="form-select" @bind="selectedCategoryId">
                            @foreach (var category in categoryTypes)
                            {
                                <option value="@category.Value">
                                    @category.Text
                                </option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">

                        <!-- Make DateRangePicker Component -->
                        <DateRangePicker StartDate="StartDate"
                                         EndDate="EndDate"
                                         OnDateRangeChanged="OnDateRangeChangeEventHandler" />
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-secondary w-100"
                                @onclick="Filter">
                            <i class="fa-solid fa-magnifying-glass me-2"></i>
                            Filter
                        </button>
                    </div>

                </div>
            </div>
            <!-- RIGHT HALF (Create) -->

            <div class="col-md-4 text-end">
                <label class="form-label"></label>
                <button class="btn btn-success"
                        @onclick="CreateNewProduct">
                    <i class="fa-solid fa-plus me-2"></i>
                    Create New
                </button>
            </div>

        </div>
    </div>
</div>

<div class="table-responsive">
    @if (!productList.Any())
    {
        <p>
            <em>No item found...</em>
        </p>
    }
    else
    {
        <table class="table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Category</th>
                    <th>CreatedOn</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in productList)
                {
                    <tr @onclick="() => SelectProduct(item)">
                        @* <tr> *@
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                        <td>@item.CategoryName</td>
                        <td>@item.CreatedOn</td>
                        <td>
                            <button class="btn btn-info m-1" @onclick="() => ShowProductDetails(item)"
                                    @onclick:stopPropagation="true">
                                <i class="fa-solid fa-info"></i>
                                Details
                            </button>
                            <button class="btn btn-primary m-1" @onclick="() => Edit(item)"
                                    @onclick:stopPropagation="true">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Edit
                            </button>

                            <button class="btn btn-danger m-1" @onclick="() => Delete(item)"
                                    @onclick:stopPropagation="true">
                                <i class="fa-solid fa-trash-can"></i>
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }


</div>
@code {
    private List<ProductDto> productList = new List<ProductDto>();
    private ProductDto? SelectedProduct { get; set; }
    private int selectedCategoryId { get; set; }
    private IList<IntDropDownField> categoryTypes { get; set; } = new List<IntDropDownField>();
    private DateTime? StartDate { get; set; } = DateTime.Now.AddDays(-14);
    private DateTime? EndDate { get; set; } = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        if (!IsAdmin())
        {
            NavigationManager.NavigateTo("/access-denied");
            return;
        }

        categoryTypes = await CategoryTypes;
        await LoadProducts();
        StateHasChanged();
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {

    //     }
    // }

    private async Task LoadProducts()
    {
        if (selectedCategoryId == 0)
        {
            ToastService.ShowInfo("Please select product category.");

            return;
        }

        var response = await ProductService.GetAllProductsAsync(selectedCategoryId, fromDate: StartDate, toDate: EndDate);
        if (!response.IsSuccess)
        {
            ToastService.ShowError(response.Message);
            return;
        }

        ToastService.ShowSuccess(response.Message);
        productList = response.Data.ToList();

        StateHasChanged();
    }

    private void FilterByDate()
    {
        if (StartDate.HasValue && EndDate.HasValue)
        {
            var filtered = productList
                .Where(x => x.CreatedOn >= StartDate.Value
                            && x.CreatedOn <= EndDate.Value)
                .ToList();
        }
    }
    private void SelectProduct(ProductDto? selectedProduct)
    {
        // Console.WriteLine("row selected!");
        if (selectedProduct is null) return;
        SelectedProduct = selectedProduct;
        StateHasChanged();
    }

    private async Task ShowProductDetails(ProductDto? selectedProduct)
    {
        // Console.WriteLine("row clicked!");

        SelectedProduct = selectedProduct;

        if (SelectedProduct is null)
        {
            await Javascript.InvokeVoidAsync(
                "alert",
                "Please select item."
            );
            return;
        }

        var alertMsg = $"ProductDto: {SelectedProduct.Name} - ${SelectedProduct.Price} - {SelectedProduct.CategoryName}";

        await Javascript.InvokeVoidAsync(
            "alert",
            alertMsg);
    }

    private async Task Filter()
    {
        await LoadProducts();

    }

    private void CreateNewProduct()
    {
        NavigationManager.NavigateTo("/product/create");
    }

    private void Edit(ProductDto? selectedProduct)
    {
        if (selectedProduct is null) return;
        NavigationManager.NavigateTo($"/product/edit/{selectedProduct.Id}");
    }

    private async Task OnDateRangeChangeEventHandler(DateRangePicker.DateRange dateRange)
    {
        StartDate = dateRange.StartDate;
        EndDate = dateRange.EndDate;
        await LoadProducts();
    }

    private async Task Delete(ProductDto item)
    {
        var isConfirm = await JsModalService.ConfirmAsync("Are you sure you want to delete?");

        if (!isConfirm) return;

        var response = await ProductService.DeleteProductAsync(item.Id);
        if (!response.IsSuccess)
        {
            ToastService.ShowError(response.Message);
            return;
        }

        ToastService.ShowSuccess(response.Message);
        await LoadProducts();
    }



}