@page "/register/user"
@layout LoginLayout
@attribute [AllowAnonymous]
<PageTitle>Register</PageTitle>

<div class="login-container">

    @*  <div class="login-image">
        <img src="favicon.png" height="430px" width="391px" alt="Register Illustration" />
    </div>
 *@
    <div class="login-form">

        <div class="login-card reg-width">

            <h3>Retail Shop Management</h3>
            <p class="subtitle">Create your account</p>

            @if (!string.IsNullOrEmpty(registerErrorMessage))
            {
                <div class="register-error">
                    <i class="fa-solid fa-circle fa-2xs"></i> <small>@registerErrorMessage</small>
                </div>
            }

            <EditForm Model="registerModel" OnValidSubmit="HandleRegister">
                <div class="row">
                    <div class="form-group col-6">
                        <label sn-required-field>Full Name</label>
                        <InputText class="form-control"
                                   @bind-Value="registerModel.FullName"
                                   placeholder="Enter full name" />
                    </div>

                    <div class="form-group col-6">
                        <label sn-required-field>Mobile No</label>
                        <InputText class="form-control"
                                   @bind-Value="registerModel.MobileNo"
                                   placeholder="Enter mobile number" />
                    </div>
                </div>


                <div class="form-group">
                    <label sn-required-field>Address</label>
                    <InputText class="form-control"
                               @bind-Value="registerModel.Address"
                               placeholder="Enter address" />
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label sn-required-field>Email</label>
                        <InputText class="form-control"
                                   @bind-Value="registerModel.Email"
                                   placeholder="Enter email" />
                    </div>

                    <div class="form-group col-6">
                        <label sn-required-field>Username</label>
                        <InputText class="form-control"
                                   @bind-Value="registerModel.Username"
                                   placeholder="Enter username" />
                    </div>
                </div>

                <div class="form-group">
                    <label sn-required-field>Password</label>

                    <div class="password-wrapper">
                        <InputText type="@(showPassword ? "text" : "password")"
                                   class="form-control"
                                   @bind-Value="registerModel.Password"
                                   placeholder="Create password" />

                        <button type="button" class="btn-eye"
                                @onclick="() => showPassword = !showPassword">

                            <i class="fa @(showPassword ? "fa-eye-slash" : "fa-eye")"
                               style="font-weight: lighter;"></i>
                        </button>
                    </div>

                </div>
                <div class="form-group">
                    <label sn-required-field>Confirm Password</label>

                    <div class="password-wrapper">
                        <InputText type="@(showPassword ? "text" : "password")"
                                   class="form-control"
                                   @bind-Value="registerModel.ConfirmPassword"
                                   placeholder="Confirm password" />

                        <button type="button" class="btn-eye"
                                @onclick="() => showPassword = !showPassword">

                            <i class="fa @(showPassword ? "fa-eye-slash" : "fa-eye")"
                               style="font-weight: lighter;"></i>
                        </button>
                    </div>

                </div>

                <button class="btn-login">Register</button>

                <div class="register-link">
                    Already have an account?
                    <a href="/login">Login</a>
                </div>

            </EditForm>

        </div>

    </div>

</div>

@code {

    private RegisterModel registerModel = new();
    private string registerErrorMessage;
    private bool showPassword = false;
    [Inject] private IAuthService AuthService { get; set; }

    private async Task HandleRegister()
    {
        await JsModalService.ConsoleLogAsync("Register clicked");

        if (!IsValidSubmit()) return;

        var response = await AuthService.RegisterUserAsync(registerModel);

        if (!response.IsSuccess)
        {
            ToastService.ShowError(response.Message);
            return;
        }

        ToastService.ShowSuccess(response.Message);

        await Task.Delay(2000);

        NavigationManager.NavigateTo("/login", true);
    }

    private bool IsValidSubmit()
    {
        if (string.IsNullOrWhiteSpace(registerModel.FullName))
        {
            registerErrorMessage = "Fullname is required.";
            ToastService.ShowWarning(registerErrorMessage);
            return false;
        }
        else if (string.IsNullOrWhiteSpace(registerModel.MobileNo))
        {
            registerErrorMessage = "Mobile No. is required.";
            ToastService.ShowWarning(registerErrorMessage);
            return false;
        }
        else if (string.IsNullOrWhiteSpace(registerModel.Email))
        {
            registerErrorMessage = "Email is required.";
            ToastService.ShowWarning(registerErrorMessage);
            return false;
        }
        else if (string.IsNullOrWhiteSpace(registerModel.Password))
        {
            registerErrorMessage = "Password is required.";
            ToastService.ShowWarning(registerErrorMessage);
            return false;
        }
        else if (string.IsNullOrWhiteSpace(registerModel.ConfirmPassword) ||
                 registerModel.Password != registerModel.ConfirmPassword)
        {
            registerErrorMessage = "Passwords don't match!";
            ToastService.ShowWarning(registerErrorMessage);
            return false;
        }

        return true;
    }

}