@page "/users" 

@attribute [StreamRendering]

<PageTitle>User Management</PageTitle>

<div class="card shadow-sm mb-3">
    <div class="card-body">
        <div class="row align-items-end">

            <!-- LEFT HALF (Category + Filter) -->
            <div class="col-md-8">
                <div class="row align-items-end g-2">
                    <div class="col-md-8">

                        <DateRangePicker StartDate="StartDate"
                                         EndDate="EndDate"
                                         OnDateRangeChanged="OnDateRangeChangeEventHandler" />
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-secondary w-100"
                                @onclick="Filter">
                            <i class="fa-solid fa-magnifying-glass me-2"></i>
                            Filter
                        </button>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

            <!-- RIGHT HALF (Create) -->

            <div class="col-2 text-end">
                <label class="form-label"></label>
                <button class="btn btn-warning"
                        @onclick="ResetPassword">
                    <i class="fa-solid fa-key"></i>
                    Reset Password
                </button>
            </div>
            <div class="col-2 text-start">
                <label class="form-label"></label>
                <button class="btn btn-success"
                        @onclick="CreateNewUser">
                    <i class="fa-solid fa-user-plus"></i>
                    Create New
                </button>
            </div>

        </div>
    </div>
</div>

<div class="table-responsive table-overflow-y">
    @if (!usersList.Any())
    {
        <p>
            <em>No item found...</em>
        </p>
    }
    else
    {
        <table class="table table-borderless table-striped table-hover">
            <thead>
                <tr class="no-wrap-head">
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>MobileNo</th>
                    <th @onclick="@(() => OrderRecords("Role"))" style="cursor: pointer;">
                        Role
                        <i class="fa-solid fa-sort fa-sm"></i>
                    </th>
                    <th @onclick="@(() => OrderRecords("IsActive"))" style="cursor: pointer;">
                        IsActive?
                        <i class="fa-solid fa-sort fa-sm"></i>
                    </th>

                    <th>CreatedBy</th>
                    <th @onclick="@(() => OrderRecords("CreatedOn"))" style="cursor: pointer;">
                        CreatedOn
                        <i class="fa-solid fa-sort fa-sm"></i>
                    </th>
                    <th colspan="2" style="width: 100px;">Actions</th>
                    <th @onclick="@(() => OrderRecords("LastModifiedOn"))" style="cursor: pointer;">
                        LastModifiedOn
                        <i class="fa-solid fa-sort fa-sm"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in usersList)
                {
                    @* <tr @onclick="() => SelectUser(item)" style="@CssAdmin(item.Role)"> *@
                    <tr class="@(SelectedUserId == item.Id ? "selected-row" : "")"
                        @onclick="@(() => SelectedUserId = item.Id)"
                        style="@CssAdmin(item.Role)">

                        <td>@item.FullName</td>
                        <td>@item.Username</td>
                        <td>@item.Email</td>
                        <td>@item.MobileNo</td>
                        <td>@item.Role</td>
                        <td>
                            @if (item.IsActive)
                            {
                                <span>✅</span>
                            }
                            else
                            {
                                <span>❌</span>

                            }
                        </td>

                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedOn</td>
                        <td class="cell-no-wrap" colspan="2">
                            @if (item.IsActive)
                            {
                                <button class="btn btn-success btn-sm m-1" @onclick="() => Edit(item)">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    Update
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-primary btn-sm  m-1" @onclick="() => Edit(item)"
                                        @onclick:stopPropagation="true">
                                    <i class="fa-regular fa-circle-check fa-sm"></i>
                                    Verify
                                </button>
                            }

                            <button class="btn btn-danger m-1 btn-sm " @onclick="() => Delete(item)"
                                    @onclick:stopPropagation="true">
                                <i class="fa-solid fa-trash-can fa-sm"></i>
                                Delete
                            </button>
                        </td>

                        <td>@item.LastModifiedOn</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

<hr />
<p class="list-counter-margin">
    <em>
        <small>
            Total Records = @TotalRecords
        </small>
    </em>
</p>

<EditVerifyUser @ref="refEditUser" EditUserModel="@SelectedUser" OnSubmitCallback="SubmitCallbackHandler" />

@code {
    private List<UsersDto> usersList = new List<UsersDto>();
    private UsersDto? SelectedUser { get; set; }
    private int TotalRecords { get; set; }
    private bool IsAscending { get; set; } = true;
    private Guid? SelectedUserId { get; set; }

    private DateTime? StartDate { get; set; } = DateTime.Now.AddDays(-14);
    private DateTime? EndDate { get; set; } = DateTime.Now;
    [Inject] private IAuthService AuthService { get; set; }
    public EditVerifyUser refEditUser;

    protected override async Task OnInitializedAsync()
    {
        if (!IsAdmin()) NavigationManager.NavigateTo("/access-denied");

        await LoadData();
        StateHasChanged();
    }


    private async Task LoadData()
    {
        try
        {
            LoadingService.Show();
            
            var response = await AuthService.GetUsersAsync(fromDate: StartDate, toDate: EndDate);
            if (!response.IsSuccess)
            {
                ToastService.ShowError(response.Message);
                return;
            }

            ToastService.ShowSuccess(response.Message);
            usersList = response.Data.ToList();
            TotalRecords = usersList.Count();

            StateHasChanged();
        }
        finally
        {
            LoadingService.Hide();
        }
    }

    // private void SelectUser(UsersDto? selectedUser)
    // {
    //     // Console.WriteLine("row selected!");
    //     if (selectedUser is null) return;
    //     SelectedUser = selectedUser;
    //     StateHasChanged();
    // }

    private string CssAdmin(string role)
    {
        string rowBgStyle = "";
        if (role == "Admin")
        {
            rowBgStyle = "background: #7cd07c;";
        }

        return rowBgStyle;
    }

    private async Task ShowUserDetails(UsersDto? selectedUser)
    {
        SelectedUser = selectedUser;

        if (SelectedUser is null)
        {
            await Javascript.InvokeVoidAsync(
                "alert",
                "Please select item."
            );
            return;
        }

        var alertMsg = $"UsersDto: {SelectedUser.FullName} - ${SelectedUser.CreatedOn} - {SelectedUser.CreatedBy}";

        await Javascript.InvokeVoidAsync(
            "alert",
            alertMsg);
    }

    private async Task Delete(UsersDto item)
    {
        var isConfirm = await JsModalService.ConfirmAsync("Are you sure you want to delete?");

        if (!isConfirm) return;
        
        try
        {
            LoadingService.Show();
            
            var response = await AuthService.DeleteUserAsync(item.Id);
            if (!response.IsSuccess)
            {
                ToastService.ShowError(response.Message);
                return;
            }

            ToastService.ShowSuccess(response.Message);
            await LoadData();
        }
        finally
        {
            LoadingService.Hide();
        }
    }

    private async Task ResetPassword()
    {
        try
        {
            LoadingService.Show();
            
            if (SelectedUserId.Empty())
            {
                ToastService.ShowInfo("Please select user first by clicking row.");
                return;
            }

            var isConfirm = await JsModalService.ConfirmAsync($"Are you sure you want to reset password?");

            if (!isConfirm) return;

            var response = await AuthService.ResetPasswordAsync(SelectedUserId!.Value);
            if (!response.IsSuccess)
            {
                ToastService.ShowError(response.Message);
                return;
            }

            SelectedUser = null;
            SelectedUserId = null;

            ToastService.ShowSuccess(response.Message, 15000);

            await LoadData();
        }
        finally
        {
            LoadingService.Hide();
        }
    }

    private async Task Filter()
    {
        await LoadData();

    }

    private void CreateNewUser()
    {
        NavigationManager.NavigateTo("/user/create");
    }

    private void Edit(UsersDto? selectedUser)
    {
        if (selectedUser is null) return;
        SelectedUser = selectedUser;
        refEditUser.ShowForm();

        // NavigationManager.NavigateTo($"/category/edit/{selectedUser.Id}");
    }

    private async Task OnDateRangeChangeEventHandler(DateRangePicker.DateRange dateRange)
    {
        StartDate = dateRange.StartDate;
        EndDate = dateRange.EndDate;
        await LoadData();
    }

    private async Task SubmitCallbackHandler(bool isActionSubmit)
    {
        if (isActionSubmit)
        {
            await LoadData();
        }

    }

    private void OrderRecords(string? orderParm = null)
    {
        usersList = orderParm switch
        {
            "IsActive" => IsAscending
                ? usersList.OrderBy(x => x.IsActive).ToList()
                : usersList.OrderByDescending(x => x.IsActive).ToList(),
            "Role" => IsAscending
                ? usersList.OrderBy(x => x.Role).ToList()
                : usersList.OrderByDescending(x => x.Role).ToList(),
            "CreatedOn" => IsAscending
                ? usersList.OrderBy(x => x.CreatedOn).ToList()
                : usersList.OrderByDescending(x => x.CreatedOn).ToList(),
            "LastModifiedOn" => IsAscending
                ? usersList.OrderBy(x => x.LastModifiedOn).ToList()
                : usersList.OrderByDescending(x => x.LastModifiedOn).ToList(),
            _ => usersList
        };

        IsAscending = !IsAscending;

        StateHasChanged();
    }

}